.chatSection {
  display: grid;
  grid-template-rows: 7% auto 7%;
  height: 96vh;
}

.chatSection_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.sideBar_header_right {
  display: flex;
  justify-content: center;
  min-width: 100px;
}

.chatSection_messages {
  background-image: url("https://i.pinimg.com/236x/57/ac/28/57ac2861c48446b18dc56af34a7fb929.jpg");
  background-repeat: repeat;
  background-size: contain;
  overflow: scroll;
  padding: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatSection_messages::-webkit-scrollbar {
  display: none;
}

.chatSection_message {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.chat_recipient {
  justify-content: flex-start;
}

.chatSection_message_photoUrl {
  margin-top: 8px;
}

.chatSection_message_data {
  position: relative;
  padding: 10px;
  padding-top: 20px;
  background-color: #beff86;
  border-radius: 10px;
  width: fit-content;
  font-size: 18px;
  border: 1px solid grey;
}

.chat_recipient p {
  background-color: #fff;
}

.chatSection_timestamp {
  font-size: 9px;
  margin-left: 0.8rem;
  font-weight: 600;
}

.chatSection_name {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  top: 2px;
  left: 10px;
  display: flex;
}

.chatSection_footer {
  display: flex;
  align-items: center;
  color: grey;
  justify-content: space-between;
}

.message_input {
  /* padding: 5%; */
  display: flex;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .chatSection {
    height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  .chatSection {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .chatSection_header {
    padding: 0.5rem 0.5rem;
  }
  .chatSection_messages {
    height: 100%;
  }
}
