.app {
  display: grid;
  place-items: center;
  background-color: #dddbd1;
  height: 100vh;
}

.app_content {
  height: 96vh;
  width: 73vw;
  position: relative;
  background-color: #f1f1f1;
  box-shadow: -1px 4px 10px -6px black;
  display: grid;
  grid-template-columns: 30% 70%;
}

.app_header {
  height: 13vh;
  position: absolute;
  top: 0;
  background-color: #f59a4f;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .app_content {
    width: 100vw;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .app_content {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }
  .app_header {
    display: none;
  }
}
