.sideBarChat {
  display: flex;
  padding: 1rem 0.6rem;
  min-height: 70px;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  word-break: break-all;
}

.sideBarChat:hover {
  background-color: #eeeeee;
}

.sideBarChat_info {
  margin-left: 20px;
}

@media screen and (max-width: 1400px) {
  .sideBarChat {
    height: 9vh;
  }
}
